@import url("https://fonts.googleapis.com/css2?family=Aoboshi+One&family=Lobster&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Tangerine:wght@400;700&display=swap");
@import "tailwindcss";

* {
    font-family: "Roboto Condensed", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

::view-transition-old(page),
::view-transition-new(page) {
    animation: none !important;
}

::view-transition-group(page) {
    z-index: auto !important;
}

::view-transition-image-pair(page) {
    isolation: isolate;
    will-change: transform, opacity, clip-path;
    z-index: 1;
}

::view-transition-new(page) {
    z-index: 10000;
    animation: none !important;
}

::view-transition-old(page) {
    z-index: 1;
    animation: none !important;
}
